.App {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.navbarContainer {
  width: 100%;
  background-color: #fff7e1;
  height: 60px;
  padding: 0px;
  margin: 0px;
}

.navbar {
  margin: 0px;
}

.loginContainer {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.chatContainer {
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  width: 280px;
  float: left;
  background-color: lightblue;
}

.messageContainer {
  padding: 10px;
  margin: 10px;
  margin-right: 0px;
  width: 900px;
  float: right;
  background-color: lightsalmon;
}

.logoutButton {
  float: right;
  width: 150px;
  height: 30px;
}

.navbarTable {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
}

.tableLeftAlign {
  text-align: left;
}

.tableRightAlign {
  text-align: right;
}

.signinHeader {
  padding-top: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader {
  margin: 0 auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid lightslategray; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.postMessageInput {
  width: 90%;
}

.postMessageButton {
  width: 10%;
}

.messageDate {
  text-align: right;
}

.messageText {
  text-align: left;
}

.messageUsername {
  font-weight: bold;
  text-align: left;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
